# virtual envs
.venv/
venv/
env/

# build artifacts / large outputs
stock_market_forecasting/src/models/
stock_market_forecasting/src/outputs/
stock_market_forecasting/src/stock_data.csv
outputs/
models/
*.keras
*.pkl
*.h5
*.pdf
*.png
*.csv
